html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Raleway', sans-serif;
  margin-bottom: 220px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  background-color: #333;
  color: #efefef;
  padding: 30px 0;   
    
}

@media only screen and (max-width: 768px){
body {
    margin-bottom: 400px;
}
.footer {
    height: 400px;
}
}

@media only screen and (max-width: 480px){
body {
    margin-bottom: 200x;
}
.footer {
    height: 200;
}
}

.footer a {
    color: #639bcf;
}
.footer a:hover {
    color: #d8e6f3;
}

.container {
    max-width: 960px;
}

.well {
    background-color: transparent;
}

.lead {
    color: #555;
}

.btn-lg {
    padding: 14px 20px;
    margin-right: 20px;
}
/* Navigation */
.navbar {
    background-color: rgb(51,100,183);
}

.navbar a {
    color: #d8e6f3;
}

.navbar a:hover {
    color: #fff;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #264d74;
    color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #d8e6f3;
}

@media only screen and (max-width: 768px){
    .dropdown-menu>li>a {
        color: #d8e6f3;
    }
}

/* index.html */
.features .glyphicon {
    font-size: 32px;
    color: crimson;
}
